.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
.header-left{
    align-items: center;
    display: flex;
}
.header-right{
    align-items: center;
    justify-content: start;
    display: flex;

}

.login-button{
    color: hsl(257, 7%, 63%);

    padding: 0vh 2vw;
    &:hover{
        cursor: pointer;
        color: hsl(260, 8%, 14%);
    }
}
.signup-button{
    border-radius: 10px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 0 1.3vw;
    font-size: 0.9rem;
    &:hover{
        cursor: pointer;

    }
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
      cursor: pointer;
    }
}

.mobile-dropdown{
    display: none;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 0vw;
    &::selection{
      background-color:hsl(180, 66%, 49%) ;
      color: white;
    }
    &:hover{
      cursor: pointer;
    }
}
.link{
  cursor: none;
    color: white;
    padding: 0vh 0.9vw;
    &:hover{
        cursor: pointer;
        color: hsl(260, 8%, 14%);
    }

}
.mobile-nav{
    display: none;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .links{
        display: none;
    }
    .login-button{
        display: none;
    }
    .hid{
        opacity: 0%;
    }
    .signup-button{
        display: none;
    }
    .mobile-dropdown{
        display: unset;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .fa{
        color: hsl(257, 7%, 63%);
        height: 11vh;
        width: 6vw;
        font-weight: lighter;
    }
    .mobile-nav-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }


}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .mobile-nav {
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    z-index: 1000;
    height: 20vh;
    width: 85vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding: 0vh 0vw;
  }
  .link-mobile {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 4vh;
    color: white;
    padding: 0vh 0.9vw;
  }

  .strike {
    margin-top: 5vh;
    width: 75vw;
    height: 0.4vh;
    opacity: 30%;
    border-radius: 20px;
    background-color: hsl(0, 0%, 75%);
  }
  .login-button-mobile{
    color: white;
    padding: 0vh 2vw;
    margin-bottom: 3vh;
  }
  .signup-button-mobile{
    border-radius: 20px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 1.1vh 20vw;
    font-size: 1.1rem;

  }
  .button{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
