.testimonials {
  margin-top: 5.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #efefef;
  font-family: "Poppins";
  text-align: center;
  h1 {
      margin-bottom: 0;
      font-size: 2.5em;
  }
  p {
      color: #58595B;
  }
}
.testimonial-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22em;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 6em;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  img {
      border-radius: 50%;
      width: 10em;
      border: 10px solid #efefef;
      transform: translateY(-5em);
  }
  h3 {
      margin: 0;
      font-size: 1.5em;
      transform: translateY(-3em);
  }
  h4 {
      margin: 0;
      font-size: 1.2em;
      transform: translateY(-4em);
      color: #777777;
  }
  .quote {
      display: block;
      transform: translateY(-4em);
  }
  p {
      display: block;
      width: 85%;
      margin: 0 auto -2em;
      transform: translateY(-4em);
      color: #58595B;
  }
}
@media only screen and (min-width: 992px) {
  .testimonial-container {
      width: 90%;
      margin: auto;
  }
  .testimonial-card {
      margin-right: 8em;
  }
  .testimonial-card:nth-of-type(3n) {
      margin-right: 0;
  }
}