body{
  background-color: white;
}
.table-container-box{
  width: 90vw;
  margin: 0 auto;
}



    h1 {
        margin-bottom: 0;
        font-size: 2em;
        font-family: "Poppins";
    text-align: center;
    }